<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Accuracies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Model Accuracies</h1>
        </header>
        <main>
            <p>Logistic Regression Model Accuracy: <strong>{{ logistic_accuracy }}</strong></p>
            <p>SVM Model Accuracy: <strong>{{ svm_accuracy }}</strong></p>
            <a href="{{ url_for('index') }}" class="back-button"><i class="fas fa-arrow-left"></i> Back</a>
        </main>
    </div>
</body>
</html>
